.recomends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    .recomend {
        width: 250px;
        height: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        .media {
            width: 250px;
            height: 190px;
        }
        .short {
            display: flex;
        }
    }
}

.errorRecomend {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:485px) {
    .recomends {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        .recomend {
            width: 150px;
            height: 300px;
            margin-right: 10px;
            margin-bottom: 15px;
            .media {
                width: 150px;
                height: 190px;
            }
            .short {
                display: flex;
            }
        }
    }
}