.card {
    a {
        text-decoration: none;
    }
    max-width: 245px;
    max-height: 500px;
    margin-right: 20px;
    margin-bottom: 20px;
    .media {
        width: 250px;
        height: 310px;
    }
    .title {
        margin-top: 7px;
        margin-left: 10px;
        height: 30px;
        font-size: 20px;
    }
    .genre {
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        height: 50px;
        margin-top: 5px;
        line-height: 15px;
        .item {
            margin-left: 5px;
        }
    }
    .short {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 20px;
        .release {
            font-size: 16px;
            margin-left: 10px;
            margin-top: -10px;
        }
        .vote {
            margin-right: 10px;
        }
    }
}

a {
    text-decoration: none;
}


@media(max-width:1200px) {
    .card {
        max-width: 230px;
        max-height: 600px;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .media {
            width: 230px;
            height: 320px;
        }
        .title {
            font-weight: 500;
            height: 40px;
        }
        .genre {
            font-size: 17px;
            margin-top: 10px;
            line-height: 20px;
            height: 40px;
        }
        .short {
            font-size: 16px;
            bottom: 0;
        }
    }
}
@media(max-width:992px) {
    .card {
        max-width: 150px;
        max-height: 350px;
        margin-right: 10px;
        .media {
            width: 150px;
            height: 200px;
        }
        .title {
            height: 30px;
        }
        .genre {
            font-size: 16px;
        }
    }
}

@media(max-width:768px) {
    .card {
        max-width: 180px;
        max-height: 400px;
        .media {
            width: 180px;
            height: 200px;
        }
        .title {
            font-size: 18px;
        }
        .genre {
            font-size: 14px;
            height: 20px;
        }
        .short {
            font-size: 14px;
            .vote {
                .MuiRating-decimal {
                    font-size: 1.2rem;
                }
            }
        }
    }
}


@media(max-width:720px) {
    .card {
        max-width: 150px;
        max-height: 340px;
        .media {
            width: 150px;
            height: 190px;
        }
        .title {
            margin-top: 3px;
            margin-left: 0;
            height: 0px;
            font-size: 17px;
        }
        .genre {
            margin-left: 0px;
            height: 40px;
            margin-left: 0;
            margin-top: 20px;
            line-height: 11px;
        }
        .short {
            margin-top: 10px;
            .release {
                margin-left: 0px;
                font-size: 13px;
            }
            .vote {
                margin-right: 0px;
                .MuiRating-decimal {
                    font-size: 1rem;
                }
            }
        }    
    }
}
@media(max-width:375px) {
    .movies {
        width: 365px;
        justify-content: center;
    }
    .card {
        max-width: 100px;
        max-height: 200px;
        .media {
            width: 100px;
            height: 120px;
        }
        .title {
            font-size: 14px;
        }
        .genre {
            height: 10px;
            font-size: 11px;
            line-height: 11px;
            .item {
                margin-left: 5px;
            }
        }
        .short {
            .release {
                font-size: 11px;
            }
            .vote {
                .MuiRating-decimal {
                    font-size: 0.8rem;
                }
            }
        }    
    }
}