.bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(15px) opacity(90%);
    filter: blur(15px) opacity(90%);
  }
.detailMovie{
    height: 65%;
    opacity: 1;
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        .info-item {
            .rating,
            .revenue{
                margin-top: 10px;
                display: flex;
            }
        }
    }
} 


@media (max-width: 375px) {
    .detailMovie{
        width: 365px;
        .container {
            margin-top: -60px;
            width: 360px;
            display: grid;
            justify-content: left;
            .info-item {
                width: 80%;
                margin-top: 10px;
                margin-left: 30px;
            }
        }
    }
}
