.detailMovie {
    .container {
        // display: flex;
        width: 100%;
    }
    margin-top: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    .detailPoster {
        width: 400px;
    }
    .titleSet {
        font-weight: bold;
    }
    .tagline {
        font-style: italic;
        margin-top: 10px;
    }
    .genres,
    .production_countries {
        margin-top: 10px;
        display: flex;
        .item {
            margin-left: 5px;
        }
    }
    .release,
    .budget,
    .revenue {
        margin-top: 10px;
    }
    .overview {
        margin-top: 50px;
    }
    .rating {
        display: flex;
        margin-top: 10px;
        .stars {
            margin-left: 10px;
        }
    }

}

@media screen and (max-width: 2000px) {
    .detailMovie {
        .container {
            display: flex;
        }
    }
    .info-item {
        margin-left: 40px;
    }    
}


@media screen and (max-width: 992px) {
    .detailMovie{
        .container {
            display: flex;
        }
        .img {
            display: grid;
            justify-content: center;
            .detailPoster {
                width: 350px;
            }
        }
        .overview {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        }
    }
}


@media screen and (max-width: 768px) {
    .detailMovie{
        font-size: 16px;
        .container {
            display: flex;
        }
        .img {
            .detailPoster {
                width: 280px;
            }
        }
    }
}

@media screen and (max-width: 578px) {
    .detailMovie{
        .container {
            display: grid;
            justify-content: left;
            .info-item {
                margin-top: 30px;
                margin-left: 0;
            }
        }
        .img {
            .detailPoster {
                width: 350px;
            }
        }
    }
}

@media (max-width: 375px) {
    .detailMovie{
        width: 365px;
        .overview {
            width: 360px;
            margin-top: 10px;
        }
        .container {
            width: 360px;
            display: grid;
            justify-content: left;
            .media-item {
                display: flex;
                width: 360px;
                justify-content: center;
                img {
                    width: 350px;
                }
            }
            .info-item {
                width: 340px;
                margin-top: 30px;
                margin-left: 20px;
                .genres {
                    flex-wrap: wrap;
                }
            }
        }
        .img {
            .detailPoster {
                width: 350px;
            }
        }
    }
}
