.searchPanel {
    width: 100%;
    form {
        display: flex;
    }
}

@media(max-width:375px) {
    .searchPanel {
        width: 200px;
        margin-right: 0;
        form {
            margin-top: -20px;
        }
    }
}