
.header {
    margin-top: 15px;
    
    .logo {
        margin-left: 60px;
        font-style: italic;
    }
    .logIn {
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 400px) {
    .header {
        width: 600px;
    }
}