.header {
    margin-top: 15px;
    
    .logo {
        margin-left: 60px;
        font-style: italic;
    }
    .logIn {
        margin-right: 20px;
        .logOut {
            display: flex;
            .loginName {
                margin-right: 15px;
            }
        }
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}
.MuiDialog-paper {
    width: 440px;
    height: 300px;
    #form-dialog-title {
        text-align: center;
    }
    .login,
    .password,
    .submitBtn{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .submitBtn {
        margin-top: 20px;
    }
}
.typegraphyy {
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 480px) {
    .header {
        width: 600px;
    }
}