.ganra {
    margin-bottom: 20px;
}

.navbar {
    border-right: 1px solid black;
    height: 80vh;
    max-width: 300px;
}
.year {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 180px;
}

.sort {
    margin-top: 40px;
}

@media(max-width: 2000px) {
    .mobileIcon {
        display: none;
    }
}

@media(max-width: 480px) {
    .mobileIcon {
        display: flex;
        justify-content: center;
        .form {
            display: flex;
        }
        .ganra {
            margin-left: 20px;
        }
    }
    form {
        margin-top: 40px;
        margin-left: 70px;
        width: 100%;
        justify-content: left;
        display: grid;
    }
    .navbar {
        display: none;
    }
}