.ganra {
    margin-bottom: 20px;
}

.navbar {
    border-right: 1px solid black;
    height: 80vh;
    max-width: 300px;
}
.year {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 180px;
}

.sort {
    margin-top: 40px;
}
.mobileIcon {
    display: none;
}


@media(max-width: 400px) {
    .mobileIcon {
        margin-top: -17px;
        height: 30px;
        display: flex;
        justify-content: center;
        .form {
            display: flex;
        }
        .ganra {
            margin-left: 40px;
        }
    }
    .navbar {
        display: none;
    }
}