.loginPage {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: grid;
    justify-content: center;
}

@media(max-width: 375px) {
    .loginPage {
        width: 365px;
    }
}