.info {
    margin-left: 30px;
    .name {
        margin-bottom: 40px;
    }
    .birthday,
    .place,
    .knowHow {
        margin-top: 10px;
    }
    .knowHow {
        display: flex;
        flex-wrap: wrap;
    }
}
.info-actor {
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}
.listMovie {
    display: flex;
    flex-wrap: wrap;

}

@media(max-width: 480px) {
    .listMovie {
        // margin-left: 40px;
        width: 100%;
        justify-content: center;
    }
}