.info {
    margin-left: 30px;
    .name {
        margin-bottom: 40px;
    }
    .birthday,
    .place,
    .knowHow {
        margin-top: 10px;
    }
    .knowHow {
        display: flex;
        flex-wrap: wrap;
    }
}
.overvieww {
    margin-top: 30px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .smallImage {
        width: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.info-actor {
    width: 100%;
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}
.listMovie {
    display: flex;
    flex-wrap: wrap;

}

@media(max-width: 480px) {
    .listMovie {
        // margin-left: 40px;
        width: 100%;
        justify-content: center;
    }
    .images {
        margin-left: 30px;
        margin-top: 20px;
        justify-content: center;
        .smallImage {
            width: 150px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}