.footer {
    min-width: 100%;
    background-color: #303F9F;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    .me,
    .contacts,
    .links {
        margin-top: 30px;
    }
    position: relative;
    bottom: 0px;
    right: 0;
}


@media (max-width: 400px) {
    .footer {
        width: 100%;
        height: 400px;
        display: grid;
        .named {
            margin-left: 40px;
        }
    }
}