@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.App {
    font-family: 'Poppins', sans-serif;
}
.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.custom .p-scrollpanel-wrapper {
    border-right: 9px solid #1976d2;
}

.custom .p-scrollpanel-bar {
    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s;
}

.custom .p-scrollpanel-bar:hover {
    background-color: #135ba1;
}