.gridMenu {
    margin-top: 70px;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}
.mainTabs {
    display: flex;
    list-style: none;
    padding-left: 0;
    .mainTabsItem {
        font-size: 20px;
        margin-right: 20px;
    }
}
.main-header {
    display: flex;
    margin-bottom: 30px;
    margin-top: -15px;
    margin-left: 50px;
    .headerTabs {
        margin-left: 0;
        max-width: 500px;
        .active {
            color: #303F9F;
        }
    }
}

@media(max-width:2000px) {
    .main-header {
        justify-content: space-between;
    }
    .searchPanel {
        max-width: 250px;
        form {
            display: flex;
            max-width: 250px;
            margin-left: 30px;
            button {
                padding: 0;
                width: 30px;
            }
        }
    }
    .headerTabs {
        width: 400px;
        margin-left: -60px;
        .mainTabs {
            .mainTabsItem {
                font-size: 20px;
                margin-right: 20px;
            }
        }
    }
    .card {
        max-width: 280px;
        max-height: 600px;
        margin-right: 20px;
        margin-bottom: 20px;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .media {
            width: 280px;
            height: 320px;
        }
        .title {
            margin-top: 7px;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 500;
            height: 40px;
        }
        .genre {
            font-size: 16px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-top: 10px;
            line-height: 20px;
            height: 40px;
            .item {
                margin-left: 5px;
            }
        }
        .short {
            font-size: 16px;
            bottom: 0;
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 20px;
            .release {
                margin-left: 10px;
            }
            .vote {
                margin-right: 10px;
            }
        }
    }
}
@media(max-width:1005px) {
    .searchPanel {
        max-width: 300px;
        form {
            display: flex;
            max-width: 220px;
            margin-left: -40px;
            button {
                padding: 0;
                width: 30px;
            }
        }
    }
    .headerTabs {
        width: 370px;
        .mainTabs {
            .mainTabsItem {
                font-size: 19px;
                margin-right: 20px;
            }
        }
    }
    .card {
        max-width: 200px;
        max-height: 400px;
        margin-right: 20px;
        margin-bottom: 20px;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .media {
            width: 200px;
            height: 250px;
        }
        .title {
            margin-top: 7px;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 500;
            height: 30px;
        }
        .genre {
            font-size: 16px;
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-top: 10px;
            line-height: 20px;
            .item {
                margin-left: 5px;
            }
        }
        .short {
            font-size: 16px;
            bottom: 0;
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 20px;
            .release {
                margin-left: 10px;
            }
            .vote {
                margin-right: 10px;
            }
        }
    }
}

@media(max-width:754px) {
    .main-header {
        display: block;
    }
    .searchPanel {
        form {
            max-width: 200px;
            margin-left: 0px;
        }
    }
    .headerTabs {
        width: 500px;
        .mainTabs {
            .mainTabsItem {
                font-size: 18px;
                margin-right: 20px;
            }
        }
    }
    .card {
        max-width: 180px;
        max-height: 400px;
        .media {
            width: 180px;
            height: 200px;
        }
        .title {
            font-size: 18px;
            height: 30px;
        }
        .genre {
            font-size: 14px;
            height: 20px;
        }
        .short {
            font-size: 14px;
            .vote {
                font-size: 14px;
                height: 10px;
                .MuiRating-decimal {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media(max-width:708px) {
    .movies {
        justify-content: center;
    }
    .card {
        max-width: 220px;
        max-height: 400px;
        .media {
            width: 220px;
            height: 240px;
        }
    }
}

@media(max-width:480px) {
    .movies {
        justify-content: center;
    }
    .card {
        max-width: 220px;
        max-height: 400px;
        .media {
            width: 220px;
            height: 240px;
        }
    }
}